<!--{% extends "webapp/main_page.html" %}

{% block title %}Input Values{% endblock %}

{% block content %} -->
<ul class="header-create-prd">
    <li><a class="prd-input data" href={% url "webapp:main_page" %}>Dashboard</a></li>
    <li><a class="prd-input data" href='{% url "webapp:input_data" %}'>PRD Input Data</a></li>
    <li><a class="prd-inspection-planing" href='{% url "webapp:risk_assessment" %}'>Risk Assessment Results</a></li>
    <li><a class="prd-results" href='{% url "webapp:inspection_planning" %}'>Inspection Planing</a></li>
</ul>

<!--
{% endblock %} -->
